---
title: Overzicht alle abonnementen
results:
  - title: Zonder Abonnement
  - title: Weekend Voordeel
  - title: Dal Voordeel
    highlight: Meest gekozen
  - title: Altijd Voordeel
  - title: Weekend Vrij
  - title: Dal Vrij
  - title: Altijd Vrij
  - title: Traject Vrij
---

<section class="pv-4 pv-8-sm a a-fi-right-200px">
    <div class="container container--narrow">
        <h1 class="f28 f48-sm lh-title f-blue">Alle abonnementen</h1>
    </div>
</section>

<section class="pb-4 pb-8-sm">
    <div class="container container--narrow">
        <div class="abo-grid">
            {% for result in page.results %}
                {% capture i %}{{ result.title }}{% endcapture %}
                {% assign results=site.data.abos | where: 'title', i %}
                    {% for entry in results %}
                        {% include abo-tile.html %}
                    {% endfor %}
            {% endfor %}
        </div>
    </div>
</section>