---
#layout: blanco
title: Uitleg over je factuur
bg: bg-white
---

<section class="abo-hero abo-hero--factuur mb-6 mb-12-sm a a-fi a-stag-del">
    <div class="container container--narrow">
        <header class="mxw-600">
            <ul class="breadcrumb mb-0">
                {% for entry in site.data.invoice.breadcrumbs %}
                <li class="breadcrumb__item">
                    <a class="breadcrumb__link" href="#">
                        {{ entry | capitalize }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            <h1 class="h-xl mb-4">{{ page.title }}</h1>
            <p class="f18 f-blue mb-2">
                {{ site.data.invoice.intro }}
            </p>
        </header>
    </div>
</section>

{% for section in site.data.invoice.section %}
<section class="a a-fi a-stag-del mb-8 mb-12-sm">
    <div class="container container--narrow">
        <div class="mxw-800">
            <h2 class="h-xs f-blue mb-3">{{ section.title }}</h2>
            <p class="f18 f-blue mb-3">
                {{ section.description }}
            </p>

            {% if section.button %}
            <a href="{{ section.button.url }}" class="button" target="_blank">{{ section.button.text }}</a>
            {% endif %}

            {% if section.collapsible %}
            <div>
                {% for entry in section.collapsible %}
                {% include collapsible.html %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endfor %}