.price-info {
    position: fixed;
    z-index: 999;
    bottom: 0;
    right: 0;
    padding: 21px 40px 21px 21px;
    max-width: 400px;
    background-color: $ns-blue;
    color: $ns-white;
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transform: translateY(100%);

    @include sm {
        margin: 14px;
        border-radius: $border-radius;
        transform: translateX(100%);
    }
}

.price-info__list {
    margin: 0;
    padding: 0;
    list-style-image: none;
    list-style-type: square;

    li {
        padding-left: 3px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.price-info__close {
    @include center(flex);
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    transition: $fade-link;
    cursor: pointer;

    svg {
        fill: $ns-white;
    }

    &:hover {
        opacity: 0.7;
    }
}