.aid {
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
}

.aid__img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid $ns-white;

    @include sm {
        width: 80px;
        height: 80px;
    }

    &--small {
        width: 48px;
        height: 48px;
    }

    &--blue {
        border-color: $ns-light-blue;
    }
}

.aid__back {
    @include center(inline-flex);
    width: 35px;
    height: 35px;
    border: 1px solid $ns-blue;
    border-radius: 50%;
    cursor: pointer;

    svg {
        fill: $ns-blue;
        transform: rotate(180deg);
        transition: $fade-link;
    }

    &:hover {
        svg {
            transform: translateX(-3px) rotate(180deg);
        }
    }
}

// banner
.aid-banner {
    display: flex;
    align-items: center;
}

// progress bar
.aid-progress {
    position: relative;
    height: 6px;
    background-color: $ns-grey-8;
}

.aid-progress__bar {
    @include full(absolute);
    border-radius: 0 8px 8px 0;
    background-color: $ns-light-blue;
}

// table
.aid-table {
    position: relative;
    width: 100%;
    margin-bottom: $one-half-gutter;
    text-align: left;
    color: $ns-blue;
    font-size: toRem(12px);

    @include xs {
        margin-bottom: $double-gutter;
        font-size: toRem(14px);
    }

    th,
    td {
        position: relative;
        width: 33%;
        padding: 7px;
        border-left: 1px solid $ns-grey-7;
        text-align: center;
        vertical-align: middle;

        &:first-child {
            padding-left: 0;
            border: none;
            width: 34%;
            text-align: left;

            .aid-table__cell {
                justify-content: initial;
            }
        }

        &:last-child {
            border-right: 1px solid $ns-grey-7;
        }

        @include xs {
            padding: $half-gutter;
        }
    }

    tr:last-child {
        td {
            border-bottom: 1px solid $ns-grey-7;
            padding-bottom: $half-gutter;

            @include xs {
                padding-bottom: $gutter;
            }

            &:first-child {
                border: none;
            }
        }
    }
}

.aid-table__cell {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: $lh-title;
}

.aid-table__icon {
    margin: 0 auto;
}