.aid {
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
}

.aid__img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid $ns-white;

    @include sm {
        width: 80px;
        height: 80px;
    }

    &--small {
        width: 48px;
        height: 48px;
    }

    &--blue {
        border-color: $ns-light-blue;
    }
}

.aid__back {
    @include center(inline-flex);
    width: 35px;
    height: 35px;
    border: 1px solid $ns-blue;
    border-radius: 50%;
    cursor: pointer;

    svg {
        fill: $ns-blue;
        transform: rotate(180deg);
        transition: $fade-link;
    }

    &:hover {
        svg {
            transform: translateX(-3px) rotate(180deg);
        }
    }
}

// banner
.aid-banner {
    display: flex;
    align-items: center;
}

// progress bar
.aid-progress {
    position: relative;
    height: 6px;
    background-color: $ns-grey-8;
}

.aid-progress__bar {
    @include full(absolute);
    border-radius: 0 8px 8px 0;
    background-color: $ns-light-blue;
}

// table
.aid-table {
    position: relative;
    width: 100%;
    margin-bottom: $one-half-gutter;
    text-align: left;
    color: $ns-blue;
    font-size: toRem(12px);

    @include xs {
        margin-bottom: $double-gutter;
        font-size: toRem(14px);
    }

    @include md {
        font-size: toRem(16px);
    }

    th,
    td {
        position: relative;
        width: 32%;
        padding: 7px;
        border-left: 1px solid $ns-grey-7;
        text-align: center;
        vertical-align: middle;

        &:first-child {
            padding-left: 0;
            border: none;
            width: 36%;
            text-align: left;

            .aid-table__inner-cell {
                justify-content: initial;
            }
        }

        &:last-child {
            border-right: 1px solid $ns-grey-7;
            background-color: rgba($ns-light-blue, 0.04);
        }

        @include xs {
            padding: $half-gutter;
        }
    }

    th {
        border-top: 1px solid $ns-grey-7;

        &:first-child {
            border: none;
        }
    }

    tr:last-child {
        td {
            border-bottom: 1px solid $ns-grey-7;
            padding-bottom: $half-gutter;

            @include xs {
                padding-bottom: $gutter;
            }

            &:first-child {
                border: none;
            }
        }
    }
}

.aid-table__inner-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: $lh-title;
}

.aid-table__icon {
    margin: 0 auto;
}


// select box dropdown
.aid-select {
    padding: 4px;
    padding-right: 26px;
    width: 100%;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-appearance: none;
    border-radius: 4px;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    border: 1px solid $ns-grey-alpha-15;
    background-color: rgba($ns-white, 0.75);
    outline: none;
    text-align: center;

    @include sm {
        padding: 6px;
    }
}

.aid-select__container {
    position: relative;

    &:after {
        content: '';
        pointer-events: none;
        position: absolute;
        width: 11px;
        height: 7px;
        top: calc(50% - 3.5px);
        right: 9px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='6.9' viewBox='0 0 11 6.9'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23003082;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Echevron-down%3C/title%3E%3Cpolygon class='a' points='5.5 5.5 0 0 0 1.4 5.5 6.9 11 1.4 11 0 5.5 5.5'/%3E%3C/svg%3E");
    }
}