/*-------------------
  generic overrides
-------------------*/

.content {
    background-color: $ns-grey-8;
    margin-top: $navbar-height - 1;

    @include md {
        min-height: calc(100vh - 140px);
    }
}

.list__item {
    margin-bottom: 0.5rem;
}

.tile__content {
    p {
        margin-bottom: 1.25rem;
    }
}

.tile,
.notificationBar,
.notificationList {
    box-shadow: none;
}

.notificationBar__text {
    @include sm-max {
        font-size: toRem(14px);
    }
}

.header {
    box-shadow: 0 1px 0 0 $ns-grey-alpha-15;
}

.h1,
.h2,
h1,
h2,
.tile__heading,
.headingXXL,
.headingXL,
.headingL {
    letter-spacing: -0.3px;
    font-weight: bold;
}

button,
input,
.formfield,
.textInput,
.button,
.inputSpacer__displayContainer,
.select {
    border-radius: $border-radius;
}

.button--buy:before {
    left: auto;
    margin-left: toRem(-35px);
}

.checkbox__label:before {
    border-radius: 2px;
}

.toolTip__container {
    width: 164px;
    left: -164px;
}

.toolTip--right {
    .toolTip__container {
        left: 40px;

        &:after {
            left: -7px;
        }
    }
}

.toolTip__body {
    padding: 7px 10px;
}