.container--narrow {
    padding: 0 14px;

    @include sm {
        padding: 0 2rem;
    }
}

.container--small-sm {
    @include md-max {
        max-width: 640px;
        margin: 0 auto;
    }
}

.center {
    @include center(flex);
}