

@for $i from 0 through 12 {	
	.mb-#{$i} {	@include spacer($i, margin-bottom); }
	@include sm {
		.mb-#{$i}-sm {	@include spacer($i, margin-bottom); }
	}
}

.mxw-600 {
    max-width: 600px;
}
.mxw-800 {
    max-width: 800px;
}









/*-------------------
      Typography
--------------------*/

/*
	Base:
	f = font
    fw = font-weight
    ls = letter-spacing
	
	Media Query Extensions:
     -sm = min-width $sm
     -md = min-width $md
     -lg = min-width $lg
*/

// font sizes
// ----------------------------------------------------------------------
.f12 {font-size: toRem(12px);}
.f14 {font-size: toRem(14px);}
.f16 {font-size: toRem(16px);}
.f18 {font-size: toRem(18px);}
.f20 {font-size: toRem(20px);}
.f24 {font-size: toRem(24px);}
.f28 {font-size: toRem(28px);}
.f30 {font-size: toRem(30px);}
.f32 {font-size: toRem(32px);}
.f36 {font-size: toRem(36px);}
.f38 {font-size: toRem(38px);}
.f40 {font-size: toRem(40px);}
.f48 {font-size: toRem(48px);}

@include sm {
	.f16-sm {font-size: toRem(16px);}
	.f18-sm {font-size: toRem(18px);}
	.f20-sm {font-size: toRem(20px);}
	.f24-sm {font-size: toRem(24px);}
	.f28-sm {font-size: toRem(28px);}
	.f30-sm {font-size: toRem(30px);}
	.f32-sm {font-size: toRem(32px);}
	.f36-sm {font-size: toRem(36px);}
	.f38-sm {font-size: toRem(38px);}
	.f40-sm {font-size: toRem(40px);}
	.f48-sm {font-size: toRem(48px);}
	.f56-sm {font-size: toRem(56px);}
}

// line-heights
// ----------------------------------------------------------------------
.lh-none  { line-height: 0; }
.lh-solid { line-height: $lh-solid; }
.lh-title { line-height: $lh-title; }
.lh-copy  { line-height: $lh-copy; }

// font colors
// ----------------------------------------------------------------------
.f-blue {color: $ns-grey;}
.f-white {color: $ns-white;}
.f-yellow {color: $ns-yellow;}
.f-blue {color: $ns-blue;}
.f-light-blue {color: $ns-light-blue;}
.f-green-sexy {color: $ns-green-sexy;}
.f-red {color: $ns-red-alert;}
.f-grey {color: $ns-grey;}
.f-grey-2 {color: $ns-grey-2;}
.f-grey-3 {color: $ns-grey-3;}
.f-grey-4 {color: $ns-grey-4;}
.f-grey-5 {color: $ns-grey-5;}
.f-grey-6 {color: $ns-grey-6;}
.f-grey-6b {color: $ns-grey-6b;}
.f-grey-7 {color: $ns-grey-7;}
.f-grey-8 {color: $ns-grey-8;} 
.f-a60 {color: $ns-grey-alpha-60;} 

// font weights
// ----------------------------------------------------------------------
.fw-normal {font-weight: normal;}
.fw-b {font-weight: bold;}








.bg-white {
    background-color: $ns-white;
}
.gd-r-pale-blue {background: radial-gradient(circle at 75% 50%, #DDF2FF 0%, #B1E0FF 100%);}
