---
layout: aid
---

<section class="pv-4 pv-6-sm">
    <div class="container container--narrow">
        <div class="aid mb-2 a a-fi-right-200px a-dur-900">
            <table class="aid-table">
                <tr>
                    <th></th>
                    <th class="va-base">Je hebt</th>
                    <th class="va-base">Vergelijk met</th>
                </tr>
                {% for row in page.table %}
                <tr>
                    {% for col in row.col %}
                    <td class="{{ row.class }}">
                        <div class="aid-table__inner-cell {{ col.class }}">
                            {% if col.text %}
                            {{ col.text }}
                            {% endif %}

                            {% if col.select %}
                            <div class="aid-select__container">
                                <select class="aid-select">
                                    {% for select in col.select %}
                                    <option value="{{ forloop.index }}">{{ select }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% endif %}

                            {% if col.tooltip %}
                            <div class="center">
                                <a href="javascript:void(0)" class="toolTip f14 txt-l {{ col.tooltip-class }}"
                                    data-controller="generic/ui/ToolTip">
                                    <span class="toolTip--hidden">{{ col.tooltip }}</span>
                                </a>
                            </div>
                            {% endif %}

                            {% if col.icon %}
                            <div class="aid-table__icon">
                                <img src="/assets/img/{{ col.icon }}.svg">
                            </div>
                            {% endif %}

                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>

            <!-- cta buttons -->
            <div>
                <a href="{{ page.button.primairy.url }}" class="button mb-1">
                    {{ page.button.primairy.text }}
                </a>
            </div>
            <div>
                <a href="{{ page.button.secundairy.url }}" class="button button--tertiary">
                    {{ page.button.secundairy.text }}
                </a>
            </div>
        </div>
</section>