---
layout: aid
---

<section class="pv-4 pv-6-sm a a-fi-right-200px a-dur-900">
    <div class="container container--narrow">
        <div class="txt-c mxw-500 mh-auto mb-4 mb-6-sm">
            <h2 class="f-blue fw-b f24 f32-sm lh-title mb-2">{{ page.subtitle }}</h2>
        </div>
        <div class="g g-2-sm gap-3 mxw-800 mh-auto mb-4 mb-6-sm">
            {% for result in page.select %}
            {% capture i %}{{ result.title }}{% endcapture %}
            {% assign results=site.data.abos | where: 'title', i %}
            {% for entry in results %}
            {% include abo-tile-select.html %}
            {% endfor %}
            {% endfor %}
        </div>
        <div class="txt-c mxw-500 mh-auto">
            <p class="f18 mb-3">{{ page.description }}</p>
            <a class="button">Naar inloggen</a>
        </div>
    </div>
</section>

<section class="pb-6 pb-8-sm txt-c a a-fi a-del-350">
    <div class="container container--narrow">
        <div class="bo-b-a15 mb-3 mb-5-sm"></div>
        <h2 class="f-blue fw-b f24 f32-sm lh-title mb-2">Heb je al NS Flex een abonnement?</h2>
        <p class="mb-3">Dan kun je iedere maand eenvoudig je <a href="" class="unlink tk-link">abonnement wijzigen</a>.</p>
    </div>
</section>