---
layout: aid
---

<section class="pv-4 pv-6-sm">
    <div class="container container--narrow">
        <div class="aid mb-2 a a-fi-right-200px a-dur-900">
            <table class="aid-table">
                <tr>
                    <th></th>
                    <th>Je hebt</th>
                    <th>Vergelijk met</th>
                </tr>
                {% for row in page.table %}
                <tr>
                    {% for col in row.col %}
                    <td class="{% if row.border %}bo-t{% endif %}">
                        <div class="aid-table__cell {{ col.class }}">
                            {{ col.text }}
                            {% if col.tooltip %}
                            <a href="javascript:void(0)" class="toolTip f14" data-controller="generic/ui/ToolTip">
                                <span class="toolTip--hidden">{{ col.tooltip }}</span>
                            </a>
                            {% endif %}
                            {% if col.icon=='x' %}
                                <div class="w-100 center pos-r top-8px svg-red">{% include icons/close-s--small.svg %}</div>
                            {% endif %}
                            {% if col.icon=='v' %}
                                <div class="w-100 center pos-r top-8px svg-green-sexy">{% include icons/check-bitfat--small.svg %}</div>
                            {% endif %}
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>

            <!-- cta buttons -->
            <div>
                <a href="{{ page.button.primairy.url }}" class="button mb-2">
                    {{ page.button.primairy.text }}
                </a>
            </div>
            <div>
                <a href="{{ page.button.secundairy.url }}" class="unlink tk-link-icon">
                    {{ page.button.secundairy.text }}
                </a>
            </div>
        </div>
</section>