---
layout: aid
---

<section class="pv-4 pv-6-sm">
    <div class="container container--narrow">
        <div class="aid mb-2 a a-fi-right-200px a-dur-900">
            <table class="aid-table">
                <tr>
                    <th></th>
                    <th class="txt-c va-base">Je hebt</th>
                    <th class="txt-c va-base">Vergelijk met</th>
                </tr>
                {% for row in page.table %}
                <tr>
                    {% for col in row.col %}
                    <td class="{{ row.class }}">
                        <div class="aid-table__inner-cell {{ col.class }}">

                            {% if col.text %}
                            <p>
                                {{ col.text }}
                            </p>
                            {% endif %}

                            {% if col.tooltip %}
                            <a href="javascript:void(0)" class="toolTip f14 txt-l {{ col.tooltip-class }}" data-controller="generic/ui/ToolTip">
                                <span class="toolTip--hidden">{{ col.tooltip }}</span>
                            </a>
                            {% endif %}

                            {% if col.icon %}
                                <div class="aid-table__icon">
                                    <img src="/assets/img/{{ col.icon }}.svg">
                                </div>
                            {% endif %}
                            
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>

            <!-- cta buttons -->
            <div>
                <a href="{{ page.button.primairy.url }}" class="button mb-2">
                    {{ page.button.primairy.text }}
                </a>
            </div>
            <div>
                <a href="{{ page.button.secundairy.url }}" class="unlink tk-link-icon">
                    {{ page.button.secundairy.text }}
                </a>
            </div>
        </div>
</section>