---
layout: default
---

{% unless page.no-progress-bar %}
<div class="aid-progress">
    <div class="aid-progress__bar a a-si-left {{ page.progress-width }}"></div>
</div>
{% endunless %}

<section class="pt-3 pb-4 pv-6-sm gd-r-yellow a a-fi">
    <div class="container container--narrow">
        <div class="mb-1-sm-max">
            <a onclick="window.history.back();" class="arrowLink arrowLink--back arrowLink--blue">Terug</a>
            <!-- <span onclick="window.history.back();" class="aid__back">{% include icons/chevron-m--small.svg %}</span> -->
        </div>
        <header class="aid a a-fi-right-200px a-dur-600 a-del-200">
            <img src="/assets/img/miriam.jpg" class="aid__img mb-2 mb-4-sm" />
            <h1 class="f-blue fw-normal f18 f28-sm">
                {{ page.person }}
            </h1>
        </header>
    </div>
</section>

{{ content }}