---
layout: default
---

{% unless page.no-progress-bar %}
<div class="aid-progress">
    <div class="aid-progress__bar a a-si-left {{ page.progress-width }}"></div>
</div>
{% endunless %}

<section class="pt-3 pb-4 pv-6-sm gd-r-yellow a a-fi">
    <div class="container container--narrow">
        <div class="mb-1-sm-max">
            <a onclick="window.history.back();" class="arrowLink arrowLink--back arrowLink--blue">Terug</a>
            <!-- <span onclick="window.history.back();" class="aid__back">{% include icons/chevron-m--small.svg %}</span> -->
        </div>
        <header class="aid a a-fi-right-200px a-dur-600 a-del-200">
            <img src="/assets/img/miriam.jpg" alt="miriam" class="aid__img mb-2 mb-4-sm" />
            <h1 class="f-blue fw-normal f18 f28-sm">
                {{ page.person }}
            </h1>
        </header>
    </div>
</section>

{% if page.question %}
<section class="pv-4 pv-6-sm">
    <div class="container container--narrow">
        <div class="aid a a-fi-right-200px a-dur-900">
            <h2 class="f-blue f24 f38-sm lh-title mb-4 mb-6-sm">{{ page.question }}</h2>
            {% for entry in page.answers %}
            {% capture lenght %}{{ forloop.length }}{% endcapture %}
            {% endfor %}
            <div class="g {% if lenght=='2' and page.tile!=true %}g-2{% endif %} gap-2 mxw-400 mh-auto mb-4 mb-6-sm">
                {% for entry in page.answers %}
                {% unless page.tile %}
                <a href="/keuzehulp/{{ entry.link }}" class="unlink button btn-ghost">{{ entry.label }}</a>
                {% else %}
                <a href="/keuzehulp/{{ entry.link }}" class="unlink button-tile">
                    <div>
                        {{ entry.label }}
                    </div>
                    <div class="button-tile__description">
                        {{ entry.description }}
                    </div>
                </a>
                {% endunless %}
                {% endfor %}
            </div>
            {% if page.description %}
            <p class="mxw-400 mh-auto f-grey-4 f14 f16-sm">{{ page.description }}</p>
            {% endif %}
        </div>
    </div>
    <div class="pb-8 pb-16-sm"></div>
</section>
{% endif %}

{% if page.results %}
<section class="pv-4 pv-6-sm a a-fi-right-200px a-dur-900">
    <template class="js-show-price-info"></template>
    <div class="container container--narrow">
        <div class="g gap-3 mxw-500 mh-auto mb-4">
            {% for result in page.results %}
            {% capture i %}{{ result.title }}{% endcapture %}
            {% assign results=site.data.abos | where: 'title', i %}

            {% for entry in results %}
            <div>
                {% if result.description %}
                <p class="f14 mt-2 mb-1 ml-3">
                    {{ result.description }}
                </p>
                {% endif %}
                {% include abo-tile.html %}
            </div>
            {% endfor %}
            {% endfor %}
        </div>
        <div class="txt-c mh-auto">
            {% unless page.abo %}
            <div>
                <a href="/alle-abonnementen" class="unlink button btn-ghost">Bekijk alle abonnementen</a>
            </div>
            {% else %}
            <div>
                <a href="/keuzehulp/abo__selecteer" class="button mb-2">Vergelijk met huidig abonnement</a>
            </div>
            <div>
                <a href="/alle-abonnementen" class="unlink tk-link-icon">Bekijk alle abonnementen</a>
            </div>
            {% endunless %}
        </div>
    </div>
</section>
{% endif %}

{% if page.select %}
<section class="pv-4 pv-6-sm a a-fi-right-200px a-dur-900">
    <div class="container container--narrow">
        <div class="txt-c mxw-500 mh-auto mb-4 mb-6-sm">
            <h2 class="f-blue fw-b f24 f32-sm lh-title mb-2">{{ page.subtitle }}</h2>
            <p>{{ page.description }}</p>
        </div>
        <div class="abo-grid">
            {% for result in page.select %}
            {% capture i %}{{ result.title }}{% endcapture %}
            {% assign results=site.data.abos | where: 'title', i %}
            {% for entry in results %}
            {% include abo-tile.html %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}