---
layout: default
---

<div class="aid-progress">
    <div class="aid-progress__bar a a-si-left {{ page.progress-width }}"></div>
</div>
<section class="pt-3 pb-4 pv-6-sm gd-r-yellow a a-fi">
    <div class="container container--narrow">
        <div class="mb-1-sm-max">
            <a onclick="window.history.back();" class="arrowLink arrowLink--back arrowLink--blue">Terug</a>
        </div>
        <header class="aid a a-fi-right-200px a-dur-600 a-del-200">
            <img src="/assets/img/miriam.jpg" alt="miriam" class="aid__img mb-2 mb-4-sm" />
            <h1 class="f-blue fw-normal f18 f28-sm">
                {{ page.person }}
            </h1>
        </header>
    </div>
</section>

{% if page.question %}
<section class="pv-4 pv-6-sm">
    <div class="container container--narrow">
        <div class="aid a a-fi-right-200px a-dur-900">
            <h2 class="f-blue f24 lh-title f38-sm mb-4 mb-6-sm">{{ page.question }}</h2>
            {% for entry in page.answers %}
            {% capture lenght %}{{ forloop.length }}{% endcapture %}
            {% endfor %}
            <div class="g {% if lenght=='2' and page.tile!=true %}g-2{% endif %} gap-2 mxw-400 mh-auto mb-4 mb-6-sm">
                {% for entry in page.answers %}
                {% unless page.tile %}
                <a href="/keuzehulp/{{ entry.link }}" class="button btn-ghost">{{ entry.label }}</a>
                {% else %}
                <a href="/keuzehulp/{{ entry.link }}" class="btn-ghost fw-normal br-4 pa-2">
                    <div>
                        {{ entry.label }}
                    </div>
                    <div class="f14 f-grey-4">
                        {{ entry.description }}
                    </div>
                </a>
                {% endunless %}
                {% endfor %}
            </div>
            {% if page.description %}
            <p class="f-grey-4 f14 f16-sm">{{ page.description }}</p>
            {% endif %}
        </div>
    </div>
    <div class="pb-8 pb-16-sm"></div>
</section>
{% endif %}

{{ content }}