---
layout: default
---

<section class="pv-4 pv-8-sm a a-fi-right-200px">
    <div class="container container--narrow">
        <h1 class="f28 f48-sm lh-title f-blue">{{ page.title }}</h1>
    </div>
</section>

<section class="gd-r-yellow pv-2 pv-4-sm mb-4 mb-8-sm a a-fi a-del-250">
    <div class="container container--narrow">
        <div class="aid-banner">
            <img src="/assets/img/miriam.jpg" class="aid__img mr-3" />
            <div>
                <h3 class="f20 f24-sm fw-normal f-blue lh-title mb-1">{{ page.aid.title }}</h3>
                <a href="/keuzehulp" class="arrowLink arrowLink--blue mr-6">{{ page.aid.link }}</a>
            </div>
        </div>
    </div>
</section>

<section class="pb-4 pb-8-sm">
    <div class="container container--narrow">
        <template class="js-show-price-info"></template>
        <div class="mb-2">
            <span class="tk-link-icon">{% include icons/info--small.svg %} Spitstijden</span>
        </div>
        <div class="abo-grid">
            {% for result in page.results %}
            {% capture i %}{{ result.title }}{% endcapture %}
            {% assign results=site.data.abos | where: 'title', i %}
            {% for entry in results %}
            {% include abo-tile.html %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</section>