---
layout: default
---

<section class="abo-hero a a-fi">
    <div class="container container--narrow">
        <h1 class="f28 f48-sm lh-title f-blue mb-4">{{ page.title }}</h1>
        {% include aid-banner.html title-class='f-blue' %}
    </div>
</section>

<section class="pb-6 pb-8-sm">
    <div class="container container--narrow">
        <div class="mb-3 a a-fi a-del-100">
            <span class="tk-link-icon">{% include icons/info--small.svg %} Spitstijden</span>
        </div>
        <div class="abo-grid">
            {% for result in page.results %}
            {% capture i %}{{ result.title }}{% endcapture %}
            {% assign results=site.data.abos | where: 'title', i %}
            {% for entry in results %}
            {% include abo-tile.html %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</section>
